<ion-header mode="md" >
  <ion-navbar>
    <ion-title>Infinite Swiped Tabs</ion-title>
  </ion-navbar>

  <ion-toolbar mode="md" color="light">

    <ion-segment  #segments  mode="md" [(ngModel)]="page" color="light">
        <ion-segment-button value="0"  (click)="segmentButtonClicked($event)">
            Segment 1
        </ion-segment-button>
        <ion-segment-button value="1"  (click)="segmentButtonClicked($event)">
            Segment 2
        </ion-segment-button>
        <ion-segment-button value="2"  (click)="segmentButtonClicked($event)">
            Segment 3
        </ion-segment-button>
        <ion-segment-button value="3"  (click)="segmentButtonClicked($event)">
            Segment 4
        </ion-segment-button>
        <ion-segment-button value="4"  (click)="segmentButtonClicked($event)">
            Segment 5
        </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>
<ion-content padding>
     
            <ion-segment  class="list" mode="lg" [(ngModel)]="page" color="primary">
               <ion-segment-button  value="0"  (click)="segmentButtonClicked($event)">
                   Segment 1
               </ion-segment-button>
               <ion-segment-button  value="1"  (click)="segmentButtonClicked($event)">
                   Segment 2
               </ion-segment-button>
               <ion-segment-button  value="2"  (click)="segmentButtonClicked($event)">
                   Segment 3
               </ion-segment-button>
               <ion-segment-button  value="3"  (click)="segmentButtonClicked($event)">
                   Segment 4
               </ion-segment-button>
               <ion-segment-button  value="4"  (click)="segmentButtonClicked($event)">
                   Segment 5
               </ion-segment-button>
           </ion-segment>
   
</ion-content>
