page-home {
  ion-segment {
      display: block;
      white-space: nowrap;
      font-size: 0;
      overflow: auto;

      &::-webkit-scrollbar {
          width: 0;
          height: 0;
          display: none;
      }

      ion-segment-button.segment-button {
          display: inline-block;
          min-width: 90px;
          width: auto;
      }
  }
  ion-toolbar {
    padding: 0px 4px !important;
    min-height: 43px !important;
  }

  .toolbar-ios ion-title {
    padding: 0 0px 1px;
  }

  .segment-md-light .segment-button{
    color: blue
  }

  .segment-md-light .segment-button.activated, .segment-md-light .segment-button.segment-activated{
    color: red;
  }

  .list{
      height: 100%;
      display: grid !important;
      ion-segment-button{
        border: 1px solid red;
        height: 400px;
        width: 100% !important;

        ion-segment-button.segment-button{
          min-width: 200px !important;
        }
      }
  
  }
}
