// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  border-color: #b2b2b2 !important;
  background: color($colors,'background') !important;
}

.toolbar-title {
  color : color($colors,'light') !important;
}

ion-segment-button:not(.segment-activated) {
   border-bottom-color: rgba(0, 0, 0, 0) !important;
}


ion-segment ion-segment-button.segment-button{
  min-width: 200px !important;
  max-width: 100% !important;
}
